* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   scroll-behavior: smooth;

}

body {
   font-family: "Poppins", sans-serif;

}

ul li {
   list-style: none;

}

a {
   text-decoration: none;
   cursor: pointer;
   transition: 0.5s;

}

a:hover {
   cursor: pointer;
}

img {
   max-width: 100%;
   display: inline-block;
}
.modification-class{
display: inline-block;  
border: none;
}
