// ##################
//?margin and padding create
// ##################

$mb_text:0.9375rem;
$mb_heading:0.9375rem;
$paddingSection:7.5rem;
$paddingLg: 7.5rem;

@media (min-width: 800px) {


   .section_padding {
      padding-bottom: $paddingSection;
   }
}